@if (currentProduct) {
  <div class="product-details">
    <div class="image-container">
      <img src="{{ currentProduct.Photo_luminaire }}" alt="Product Image" />
    </div>
    <div class="details-container">
      <form>
        <div class="form-group">
          <label for="title"><strong>Marque:</strong></label>
          <span>{{ currentProduct.Marque }}</span>
        </div>
        <div class="form-group">
          <label for="description"><strong>Modèle :</strong></label>
          <span>{{ currentProduct.Modele }}</span>
        </div>
        <div class="form-group">
          <label for="effLumineuse"><strong>Puissance :</strong></label>
          <span>{{ currentProduct.Puissance }}</span>
        </div>
        <div class="form-group">
          <label for="fluxLumi"><strong>Finition :</strong></label>
          <span>{{ currentProduct.Finition }}</span>
        </div>
        <div class="form-group">
          <label for="puiss"><strong>Forme:</strong></label>
          <span>{{ currentProduct.Forme }}</span>
        </div>
        <div class="form-group">
          <label for="TempCoul"><strong>Température de couleur:</strong></label>
          <span>{{ currentProduct.Temperature_de_couleur }}</span>
        </div>
        <div class="form-group">
          <label for="Faisc"><strong>Faisceau:</strong></label>
          <span>{{ currentProduct.Faisceau }}</span>
        </div>
        <div class="form-group">
          <label for="Descr"><strong>Description:</strong></label>
          <span>{{ currentProduct.Description }}</span>
        </div>
      </form>
    </div>
  </div>
} @else {
  <div>
    <br />
    <p>Cannot access this Product...</p>
  </div>
}
