.product-details {
  display: flex;
  width: 800px; /* Adjusted width */
  margin: auto;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-details .image-container {
  flex: 1;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-details .image-container img {
  width: 250px;
  height: 250px;
  margin: 20px;
}

.product-details .details-container {
  flex: 2;
}

.product-details h4 {
  margin-bottom: 10px;
  margin-top: 0; /* Remove default margin */
}

.product-details form {
  margin-top: 10px; /* Reduced margin */
}

.product-details .form-group {
  margin-bottom: 10px; /* Reduced margin */
}

.product-details label {
  font-weight: bold;
}

.product-details span {
  display: inline-block;
  margin-left: 10px;
  line-height: 1.4; /* Reduced line height */
}
