@if (currentProduct) {
  <div class="product-details">
    <div class="image-container">
      <img src="{{ currentProduct.Image }}" alt="Product Image" />
    </div>
    <div class="details-container">
      <form>
        <div class="form-group">
          <label for="title"><strong>Marque:</strong></label>
          <span>{{ currentProduct.Marque }}</span>
        </div>
        <div class="form-group">
          <label for="description"><strong>Durée de vie:</strong></label>
          <span>{{ currentProduct.Duree_de_vie }}</span>
        </div>
        <div class="form-group">
          <label for="effLumineuse"><strong>Efficacité lumineuse:</strong></label>
          <span>{{ currentProduct.Efficacite_Lumineuse }}</span>
        </div>
        <div class="form-group">
          <label for="fluxLumi"><strong>Flux Lumineux:</strong></label>
          <span>{{ currentProduct.Flux_lumineux }}</span>
        </div>
        <div class="form-group">
          <label for="puiss"><strong>Puissance:</strong></label>
          <span>{{ currentProduct.Puissance }}</span>
        </div>
        <div class="form-group">
          <label for="TempCoul"><strong>Température de couleur:</strong></label>
          <span>{{ currentProduct.Temperature_de_couleur }}</span>
        </div>
      </form>
    </div>
  </div>
} @else {
  <div>
    <br />
    <p>Cannot access this Product...</p>
  </div>
}
