<div class="wishlist-container">
  <h2>Your Wishlist</h2>
  <div *ngIf="wishlist && wishlist.length > 0; else noWishlist">
    <div class="wishlist-grid">
      <div *ngFor="let product of wishlist" class="wishlist-card">
        <div class="card-image">
          <img [src]="product.image || 'default-image-url'" [alt]="product.name" />
        </div>
        <div class="card-content">
          <h3>{{ product.Marque }}</h3>
          <p>{{ product.brand }}</p>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noWishlist>
    <p>No items in wishlist...</p>
  </ng-template>
</div>
