<!DOCTYPE html>
<html lang="fr">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supernova</title>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
          <img class="logo" src="assets/images/logo.jpg" alt="Supernova">
          <br>

            <div class="profile">
                <img src="assets/images/profile.png" alt="Profile Picture">
                <h2 class="name" id="name">Majeri Amine</h2>
                <p>Voir et modifier le profile</p>
            </div>
            <nav>
                <ul>
                    <li class="active"><a href="#"> <img class="padding-right" src="assets/images/home.png" alt="home"> Accueil</a> </li>
                    <li> <a href="#"> <img class="padding-right" src="assets/images/heart.png" alt="Favorie"> Favorie</a></li>
                    <li>

                      <a href="#">  <img class="padding-right" src="assets/images/cart.png" alt="Panier"> Panier</a></li>
                    <li>

                      <a href="#"> <img class="padding-right"  src="assets/images/folder.png" alt="Projet"> Projet</a></li>
                </ul>
            </nav>
            <div class="settings">
                <ul>
                    <li>
                      <img class="padding-right" src="assets/images/settings.png" alt="Paramètre">

                      <a href="#">  Paramètre</a></li>
                    <li>
                      <img class="padding-right" src="assets/images/logout.png" alt="Logout">
                      <a href="#">  Logout</a></li>
                </ul>
            </div>
        </aside>
        <main *ngIf="showList" class="main-content">
          <h1 class="center"> Mes projets </h1>
          <div  class="product-list">
            <div *ngIf="projects && projects.length > 0; else noProducts">
              <div class="product-grid">
                <div *ngFor="let project of projects" class="product-card">
                  <div class="card-image">
                    <img (click)="showProject(project)" [src]="project.image || 'https://tekled.co.uk/cdn/shop/articles/What_is_a_Conventional_Light-775007.jpg?v=1680528977'" [alt]="project.Nom" />
                  </div>
                  <div class="card-content">
                    <h3>{{ project.Nom }}</h3>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #noProducts>
              <p>No projects found...</p>
            </ng-template>
          </div>
        </main>
        <div *ngIf="showProjectD" class="container1">
          <header>
              <button class="back-button">&#8592;</button>
              <h1>Projet {{selectedProject.Nom}}</h1>
              <button class="favorite-button">&#9825;</button>
          </header>
          <main>
              <div class="content">
                  <section class="spaces">
                      <h2>Les espaces traités</h2>
                        <div class="space-list">
                        <div *ngFor="let espace of espaceOptions" class="space">
                          <img [src]="espace.image" [alt]="espace.label">
                          <p>{{ espace.label }}</p>
                        </div>
                        </div>
                      <form class="options">
                          <label>
                              <input type="checkbox" checked>
                              Télécharger le concept éclairage
                          </label>
                          <label>
                              <input type="checkbox">
                              obtenir une estimation financière
                          </label>
                          <label>
                              <input type="checkbox">
                              Essayer les produits en demo
                          </label>
                      </form>
                      <div class="buttons">
                          <button class="modify-button">Modifier</button>
                          <button class="delete-button">Supprimer</button>
                      </div>
                  </section>
                  <section class="products">
                      <h2>Les produit</h2>
                      <div class="product-list">
                          <div class="product">
                              <img src="light-shaper-noir.png" alt="Light shaper">
                              <div class="product-info">
                                  <h3>Light shaper</h3>
                                  <p>GL lighting</p>
                                  <p>Couleur - Noir</p>
                                  <a href="#">Salon</a>
                              </div>
                          </div>
                          <div class="product">
                              <img src="light-shaper-sq-gris.png" alt="Light shaper SQ">
                              <div class="product-info">
                                  <h3>Light shaper SQ</h3>
                                  <p>GL lighting</p>
                                  <p>Couleur - Gris</p>
                                  <a href="#">Chambre</a>
                              </div>
                          </div>
                          <div class="product">
                              <img src="light-shaper-w-noir.png" alt="Light shaper W">
                              <div class="product-info">
                                  <h3>Light shaper W</h3>
                                  <p>GL lighting</p>
                                  <p>Couleur - Noir</p>
                                  <a href="#">Circulations</a>
                              </div>
                          </div>
                      </div>
                  </section>
              </div>
          </main>
      </div>

    </div>
</body>
</html>

