<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <title class="headT">Supernova Filter</title>
</head>
<body>
  <div class="container">
      <aside class="sidebar">
        <img class="logo" src="assets/images/logo.jpg" alt="Supernova">
        <br>

          <div class="profile">
              <img src="assets/images/profile.png" alt="Profile Picture">
              <h2 class="name" id="name">Majeri Amine</h2>
              <p>Voir et modifier le profile</p>
          </div>
          <nav>
              <ul>
                  <li class="active"><a href="#"> <img class="padding-right" src="assets/images/home.png" alt="home"> Accueil</a> </li>
                  <li> <a href="wishlist"> <img class="padding-right" src="assets/images/heart.png" alt="Favorie"> Favorie</a></li>
                  <li>

                    <a href="#">  <img class="padding-right" src="assets/images/cart.png" alt="Panier"> Panier</a></li>
                  <li>

                    <a href="#"> <img class="padding-right"  src="assets/images/folder.png" alt="Projet"> Projet</a></li>
              </ul>
          </nav>
          <div class="settings">
              <ul>
                  <li>
                    <img class="padding-right" src="assets/images/settings.png" alt="Paramètre">

                    <a href="#">  Paramètre</a></li>
                  <li>
                    <img class="padding-right" src="assets/images/logout.png" alt="Logout">
                    <a href="#">  Logout</a></li>
              </ul>
          </div>
      </aside>

    <main *ngIf="!showProduit && !showDetails && !showManufacture" class="main-content">
      <h1 class="headT" >Filtre supernova</h1>

      <header>
        <div class="search-bar">
          <img src="assets/images/search.png" alt="Search">

          <input type="text" placeholder="Search">
        </div>
      </header>
      <form class="filter-form">
        <div>
          <h2 class="so">Standing</h2>
          <div class="form-section gap ">
            <div class="radio-container">
              <input type="radio" id="entree" class="radio" name="standing" value="entree" (change)="selectedSegment = 'Entrée de gamme'">
              <label for="entree" class="radio-label">Entrée de gamme</label>
            </div>
              <div class="radio-container">
              <input type="radio" id="moyen" class="radio" name="standing" value="moyen" (change)="selectedSegment = 'Moyen standing'">
              <label for="moyen" class="radio-label">Moyen standing</label>
            </div>
            <div class="radio-container">
              <input type="radio" id="luxe" class="radio" name="standing" value="luxe" (change)="selectedSegment = 'Luxe / Haut de gamme'">
              <label for="luxe" class="radio-label">Luxe / Haut de gamme</label>
            </div>
        </div></div>
        <br>
        <div>
          <h2 class="so">Segment</h2>
          <div class="form-section">
            <div class="radio-container" *ngFor="let segment of Segments">
              <input type="radio" id="{{segment.value}}" class="radio" name="segment" [value]="segment.value" (change)="onSegmentChange(segment.value, $event)">
              <label for="{{segment.value}}" class="radio-label">{{segment.label}}</label>
            </div>
          </div>
        </div>

        <div *ngIf="selectedSegment" class="form-section">
          <h2>Types de projets pour {{ selectedSegment }}</h2>
          <div class="select-container">
            <select id="typeSelect">
              <option (change)="selectedType = type.label"  value="" disabled selected>Sélectionner un type</option>
              <option *ngFor="let type of types[selectedSegment]" [value]="type.value">{{type.label}}</option>
            </select>
          </div>
                </div>
                <div *ngIf="selectedSegment==='Résidentiel'" class="form-section">
                  <h2>Espace à traiter</h2>
                  <div class="select-container">
                    <select (change)="onSelectChange($event)" id="espaceSelect">
                      <option  value="" disabled selected>Sélectionner un espace à traiter</option>
                      <option  *ngFor="let espace of espaces" [value]="espace.value">{{espace.label}}</option>
                    </select>
                  </div>
                        </div>
                        <div>
                        <h2 class="so"> Surface de pose </h2>

                        <div class="form-section1">
                          <div class="radio-container" *ngFor="let surface of surfaces">
                            <input (change)="selectedSurface = surface.label" type="radio" id="{{surface.value}}" class="radio" name="surface" [value]="surface.value" (change)="onSurfaceChange(surface.value, $event)">
                            <label for="{{surface.value}}" class="radio-label" >{{surface.label}}</label>
                          </div>
                        </div></div>

                        <div *ngIf="selectedSurface" class="form-section">
                          <h2>Mode de pose pour {{ selectedSurface }}</h2>
                          <div class="select-container">
                            <select id="modeSelect">
                              <option (change)="selectedPose= pose.label" value="" disabled selected>Sélectionner une mode de pose</option>
                              <option *ngFor="let pose of poses[selectedSurface]" [value]="pose.value" >{{pose.label}} </option>
                            </select>
                          </div>
                                </div>
                                <div>
                                  <h2 class="so">Materiaux de surface de pose </h2>
                                  <div class="form-section">
                                    <div class="radio-container" *ngFor="let material of materials">
                                      <input (change)="selectedMaterial=material.label" type="radio" id="{{material.value}}" class="radio" name="material" [value]="material.value" >
                                      <label for="{{material.value}}" class="radio-label">{{material.label}}</label>
                                    </div>
                                  </div>
                                </div>
                                <div>
                                  <h2 class="so">Forme </h2>
                                  <div class="form-section">
                                    <div class="radio-container" *ngFor="let forme of formes">
                                      <input (change)="selectedForme" type="radio" id="{{forme.value}}" class="radio" name="forme" [value]="forme.value" >
                                      <label for="{{forme.value}}" class="radio-label">{{forme.label}}</label>
                                    </div>
                                  </div>
                                </div>

        <div>
          <h2 class="so">Style </h2>
          <div class="form-section">
            <div class="radio-container" *ngFor="let style of styles">
              <input type="radio" (change)=" selectedStyle" id="{{style.label}}" class="radio" name="style" [value]="style.label" >
              <label for="{{style.label}}" class="radio-label">{{style.label}}</label>
            </div>
          </div>
        </div>
        <div>
          <h2 class="so">Finition </h2>
          <div class="form-section">
            <div class="radio-container" *ngFor="let finition of finitions">
              <input (change)="selectedFinition" type="radio" id="{{finition.label}}" class="radio" name="finition" [value]="finition.label" >
              <label for="{{finition.label}}" class="radio-label">{{finition.label}}</label>
            </div>
          </div>
        </div>
<br>

</form>
        <button (click)="showR()" type="submit" class="search">Chercher</button>

    </main>
    <!-- Product List -->
<div *ngIf="showProduit" class="product-list">
  <div *ngIf="produits && produits.length > 0; else noProducts">
    <div class="product-grid">
      <div *ngFor="let product of produits" class="product-card">
        <div class="card-image">
            <img [src]="'assets/images/' + product.Photo_luminaire" [alt]="product.name" />
            <button (click)="toggleWishlist(product)" class="wishlist-button" [class.added]="product.inWishlist" id="wish{{product.Identifiant}}">
            {{ product.inWishlist ? '❤️' : '♡' }}
          </button>

        </div>
        <div class="card-content">
          <h3>{{ product.Marque }}</h3>
          <p>{{ product.Modele }}</p>
        </div>
        <div class="card-actions">
          <button (click)="displayDetails(product)" class="cart-button">➕</button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noProducts>
    <p>No products found...</p>
  </ng-template>
</div>

<!-- Product Details -->
<div *ngIf="showDetails" class="product-detail-container">
  <div class="product-detail">
    <div class="product-image">

      <img class="image-top" [src]="selectedProduct?.Photo_projet ? 'assets/images/' + selectedProduct.Photo_projet : 'assets/images/chambre.jpg'" alt="Product Image" (error)="handleImageError($event)" onerror="this.src='assets/images/chambre.jpg'" />
      <button class="back-button" (click)="goBack()">←</button>
      <button class="wishlist-button" [class.added]="selectedProduct.inWishlist" (click)="toggleWishlist(selectedProduct)">
        {{ selectedProduct.inWishlist ? '❤️' : '♡' }}
      </button>
    </div>
    <br>
    <div class="product-info">
      <img class="image-desc" [src]="'assets/images/' + selectedProduct.Photo_luminaire" alt="Product Image" />
      <h2>{{selectedProduct.Marque}}</h2>
      <p>{{selectedProduct.Modele}}</p>
      <div class="product-description">
        <p><strong>Description</strong></p>
        <p>{{selectedProduct.Description}}</p>
        <p><b>Type: </b>{{selectedProduct.Type}}</p>
        <p><b>Puissance: </b>{{selectedProduct.Puissance}}</p>
        <p><b>Forme: </b>{{selectedProduct.Forme}}</p>
        <p><b>Température de couleur : </b>{{selectedProduct.Temperature_de_couleur}}</p>
        <p><b>Faisceau : </b>{{selectedProduct.Faisceau}}</p>
        <div id="color-selector">
          <p><b>Finition: </b></p>
            <div *ngFor="let color of finition" class="radio-container" [style.background-color]="this.finitionColors[color]">
            <input (change)="selectedFinitionP" type="radio" id="{{color}}" class="radio {{this.finitionColors[color]}}" name="finition" [value]="color" >
            <label for="{{color}}" class="radio-label">{{color}} </label>

            <script>
              console.log("finitionColors", this.finitionColors);
              console.log("exact finition ", this.finitionColors[color]);
            </script>
            </div>
</div>
        <div class="product-options">
          <div class="checkbox-container">
            <input type="checkbox" id="option1" class="checkbox">
            <label for="option1" class="checkbox-label">Télécharger la fiche technique</label>
          </div>
          <div class="checkbox-container">
            <input type="checkbox" id="option2" class="checkbox">
            <label for="option2" class="checkbox-label">Obtenir une estimation financière</label>
          </div>
          <div class="checkbox-container">
            <input type="checkbox" id="option3" class="checkbox">
            <label for="option3" class="checkbox-label">Essayer le produit en démo</label>
          </div>
        </div>
        <button class="add-to-project-button" (click)="send()">Envoyer</button>
      </div>
    </div>


    <div *ngIf="showManufacture" class="contact-container">
      <button class="back-button" (click)="goBackToD()">←</button>
      <div class="contact-content">
        <h1>C'est tout bon pour nous !</h1>
        <p>Je m'appelle Alban, je suis votre interlocuteur fabricant, et je reviendrai vers vous le plus tôt possible</p>
        <div class="contact-info">
          <img src="assets/images/man.png" alt="Alban Grison">
          <div class="contact-details">
            <p><strong>Alban Grison</strong></p>
            <p>CEO K-Design House</p>
            <p>a.grisonk-designhouse.com</p>
            <p>+33 6 43 17 29 79</p>
          </div>
        </div>
        <button class="return-button" (click)="returnToMenu()">Revenir au menu</button>
      </div>
    </div>


  </div>
