<!-- form.component.html -->

<div class="parent-widget rounded">
  <p class="principal">Assistance Supernova</p>

  <div *ngIf="showPreviousQuestion">
    <h4 class="title">La création du projet va démarrer</h4>
    <div class="widgets-container">


      <div class="widget">
        <img src="assets/images/message.png" alt="Image 1">
        <h5 class="title">C’est Rapide !</h5>
        <p>Le questionnaire prend moins de 5 minutes, aucun document n’est nécessaire.</p>
      </div>
      <div class="widget">
        <img src="assets/images/outil.png" alt="Image 2">
        <h5 class="title">On vous accompagne</h5>
        <p>Nos experts répondent à toutes vos questions par chat ou par téléphone dans 24H maximum</p>
      </div>
      <div class="widget">
        <img src="assets/images/papier.png" alt="Image 3">
        <h5 class="title">On s’occupe de tout !</h5>
        <p>Vos produits trouvés et votre projet finalisé en un temps record !</p>
      </div>
    </div>

    <div class="buttons">
      <button class="button" (click)="goToHome()">Précédent</button>
      <button class="button" (click)="onNextButtonClick()">Suivant</button>
    </div>
  </div>

  <div *ngIf="showProjectNameQuestion">
    <img src="assets/images/name.png" alt="Image" class="image-right">
    <h4 class="title left margin-top">Comment s'appelle votre projet ?</h4>
    <div class="input-container left">
      <input type="text" [(ngModel)]="projectName" class="input" id="input" placeholder="écrire ici ...">
    </div>
    <br>
    <div class="buttons">
      <button class="button" (click)="onBackButtonClick()">Précédent</button>
      <button class="button" (click)="onNextStepButtonClick()">Suivant</button>
    </div>
  </div>

  <div *ngIf="showNextPage">
    <p> Quel est</p>
    <h4 class="title">Le standing de votre projet ?</h4>
    <div class="widget-container1">
      <div class="widget1" (click)="selectWidget('Petit budget')" [class.selected]="selectedWidget === 'Petit budget'">
        <img src="assets/images/1.png" alt="Image 1">
      </div>
      <p class="widget-text">Entrée de gamme</p>
    </div>

    <div class="widget-container1">
      <div class="widget1" (click)="selectWidget('Moyen standing')" [class.selected]="selectedWidget === 'Moyen standing'">
        <img src="assets/images/2.png" alt="Image 2">
      </div>
      <p class="widget-text">Moyen standing</p>
    </div>

    <div class="widget-container1">
      <div class="widget1" (click)="selectWidget('Luxe / Haut de gamme')" [class.selected]="selectedWidget === 'Luxe / Haut de gamme'">
        <img src="assets/images/3.png" alt="Image 3">
      </div>
      <p class="widget-text">Luxe / Haut de gamme</p>
    </div>


    <br>
    <div class="buttons">
      <button class="button" (click)="onStandingToStyle()">Précédent</button>
    <button class="button" (click)="onEspaceButtonClick()">Suivant</button>
    </div>
  </div>

  <div *ngIf="showStyle">
    <p> Quel est</p>
    <h4 class="title">Le style architectural du projet ?</h4>
    <div class="widget-container1">
      <div class="widget2" (click)="selectStyle('Sobre & minimaliste')" [class.selected]="selectedStyle === 'Sobre & minimaliste'">
        <img src="assets/images/sobre.png" alt="Image 1">
      </div>
      <p class="widget-text">Sobre & Minimaliste</p>
    </div>

    <div class="widget-container1">
      <div class="widget2" (click)="selectStyle('Moderne')" [class.selected]="selectedStyle === 'Moderne'">
        <img src="assets/images/moderne.png" alt="Image 2">
      </div>
      <p class="widget-text">Moderne</p>
    </div>

    <div class="widget-container1">
      <div class="widget2" (click)="selectStyle('Couleurs vives')" [class.selected]="selectedStyle === 'Couleurs vives'">
        <img src="assets/images/couleur.png" alt="Image 3">
      </div>
      <p class="widget-text">Couleurs vives</p>
    </div>

    <div class="widget-container1">
      <div class="widget2" (click)="selectStyle('industriel')" [class.selected]="selectedStyle === 'industriel'">
        <img src="assets/images/industriel.png" alt="Image 4">
      </div>
      <p class="widget-text">Industrial</p>
    </div>

    <div class="widget-container1">
      <div class="widget2" (click)="selectStyle('Ecologiste')" [class.selected]="selectedStyle === 'Ecologiste'">
        <img src="assets/images/ecologiste.png" alt="Image 4">
      </div>
      <p class="widget-text">Ecologiste</p>
    </div>

    <div class="widget-container1">
      <div class="widget2" (click)="selectStyle('Style ancien')" [class.selected]="selectedStyle ==='Style ancien'">
        <img src="assets/images/ancien.png" alt="Image 4">
      </div>
      <p class="widget-text">Styles anciens</p>
    </div>

    <br>
    <div class="buttons">
      <button class="button" (click)="onStyleToType()">Précédent</button>
    <button class="button" (click)="onStandingButtonClick()">Suivant</button>
    </div>
  </div>

  <div *ngIf="showSegment">
    <p> Quel est</p>
    <h4 class="title">Le segment du projet ?</h4>
    <div class="widget-container1" *ngFor="let segment of currentSegments">
      <div class="widget3" (click)="selectSegment(segment.value)" [class.selected]="selectedSegment === segment.value">
        <img [src]="segment.image" [alt]="segment.alt">
      </div>
      <p class="widget-text">{{ segment.label }}</p>
    </div>
    <div class="buttons">
      <button class="button" (click)="ongoBack()">Précédent</button>
      <button class="button" (click)="onStandingButtonClick()">Suivant</button>

</div>
    <br>
  </div>

  <div *ngIf="showType">
    <p> Quel est</p>
    <h4 class="title">Le type du projet ?</h4>
    <div class="widget-container1" *ngFor="let type of types[selectedSegment]">
      <div class="widget2" (click)="selectType(type.value)" [class.selected]="selectedType === type.value">
        <img [src]="type.image" [alt]="type.alt">
      </div>
      <p class="widget-text">{{ type.label }}</p>
    </div>
    <br>
    <div class="buttons">
      <button class="button" (click)="onSegmentButtonClick()">Précédent</button>
      <button class="button" (click)="onStyleButtonClick()">Suivant</button>
    </div>
  </div>

  <div *ngIf="showEspace">
    <p> Pourriez vous</p>
    <h4 class="title">indiquer l'espace à étudier dans votre projet ?</h4>
    <div class="widget-container1" *ngFor="let espace of espaces">
      <div class="widget2" (click)="selectEspace(espace.value)" [class.selected]="selectedEspaces.includes(espace.value)">
        <img [src]="espace.image" [alt]="espace.alt">
      </div>
      <p class="widget-text">{{ espace.label }}</p>
    </div>
    <br>
    <div class="buttons">
      <button class="button" (click)="onEspaceToNext()">Précédent</button>

    <button class="button" (click)="onSurfaceButtonClick()">Suivant</button>
</div>
  </div>
  <div *ngIf="showSurface">
    <p>Quel est</p>
    <div *ngFor="let espace of selectedEspaces">
        <h4 class="title">la surface de pose pour {{ espace }} ?</h4>
        <div class="widget-container1" *ngFor="let surface of surfaces">
            <div class="widget2" (click)="selectSurface(espace, surface.value)" [class.selected]="selectedSurface[espace] === surface.value">
                <img [src]="surface.image" [alt]="surface.alt">
            </div>
            <p class="widget-text">{{ surface.label }}</p>
        </div>
    </div>
    <br>
    <div class="buttons">
        <button class="button" (click)="onSurfaceToEspace()">Précédent</button>
        <button class="button" (click)="onPoseButtonClick()">Suivant</button>
    </div>
</div>

<div *ngIf="showPose">
  <p>Quel est</p>
  <div *ngFor="let espace of selectedEspaces">
      <h4 class="title">le mode de pose possible pour les luminaires au {{ selectedSurface[espace] }} de {{ espace }} ?</h4>
      <div class="widget-container1" *ngFor="let pose of poses[selectedSurface[espace]]">
          <div class="widget2" (click)="selectPose(espace, pose.value)" [class.selected]="selectedPose[espace] === pose.value">
              <img [src]="pose.image" [alt]="pose.alt">
          </div>
          <p class="widget-text">{{ pose.label }}</p>
      </div>
  </div>
  <br>
  <div class="buttons">
      <button class="button" (click)="onModeToSurface()">Précédent</button>
      <button class="button" (click)="onMaterialClickButton()">Suivant</button>
  </div>
</div>

  <br>
  <div *ngIf="showMaterial">
    <p>Quel est</p>
    <div *ngFor="let espace of selectedEspaces">
        <h4 class="title">Le matériau de la surface de pose pour {{ espace }} ?</h4>
        <div class="widget-container1" *ngFor="let material of materials">
            <div class="widget4" (click)="selectMaterial(espace, material.value)" [class.selected]="selectedMaterial[espace] === material.value">
                <img [src]="material.image" [alt]="material.alt">
            </div>
            <p class="widget-text">{{ material.label }}</p>
        </div>
    </div>
    <br>
    <div class="buttons">
        <button class="button" (click)="onMaterialToMode()">Précédent</button>
        <button class="button" (click)="onHauteurClickButton()">Suivant</button>
    </div>
</div>

<div *ngIf="showHauteur">
  <p>Quel est</p>
  <div *ngFor="let espace of selectedEspaces">
      <h4 class="title">La hauteur sous plafond de {{ espace }} ?</h4>
      <br>
      <input type="text" [(ngModel)]="selectedHauteur[espace]" class="input1" id="input-h-{{ espace }}" placeholder="écrire ici ...">
  </div>
  <br>
  <div class="buttons">
      <button class="button" (click)="onHauteurToMaterial()">Précédent</button>
      <button class="button" (click)="onFormeButtonClick()">Suivant</button>
  </div>
</div>
<div *ngIf="showForme">
  <p>Quelle forme</p>
  <div *ngFor="let espace of selectedEspaces">
      <h4 class="title">De luminaires préférez-vous pour {{ espace }}?</h4>
      <div class="widget-container1" *ngFor="let forme of formes">
          <div class="widget2" (click)="selectForme(forme.value, espace)" [class.selected]="selectedForme[espace] === forme.value">
              <img [src]="forme.image" [alt]="forme.alt">
          </div>
          <p class="widget-text">{{ forme.label }}</p>
      </div>
  </div>
  <br>
  <div class="buttons">
      <button class="button" (click)="onFormeToHauteur()">Précédent</button>
      <button class="button" (click)="onFinitionClickButton()">Suivant</button>
  </div>
</div>

<div *ngIf="showFinition">
  <p>Quelle</p>
  <div *ngFor="let espace of selectedEspaces">
      <h4 class="title">Finition préférez-vous pour {{ espace }}?</h4>
      <div class="finition">
          <div class="widget-wrapper">
              <div class="widget2 gris" (click)="selectFinition('Gris', espace)" [class.selected]="selectedFinition[espace] === 'Gris'"></div>
              <p class="widget-text">Gris</p>
          </div>
          <div class="widget-wrapper">
              <div class="widget2 noir" (click)="selectFinition('Noir', espace)" [class.selected]="selectedFinition[espace] === 'Noir'"></div>
              <p class="widget-text">Noir</p>
          </div>
          <div class="widget-wrapper">
              <div class="widget2" (click)="selectFinition('Blanc', espace)" [class.selected]="selectedFinition[espace] === 'Blanc'"></div>
              <p class="widget-text">Blanc</p>
          </div>
          <div class="widget-wrapper">
              <div class="widget2" (click)="selectFinition('auchoix', espace)" [class.selected]="selectedFinition[espace] === 'auchoix'">
                  <img src="assets/images/jesaispas.jpg" alt="Image">
              </div>
              <p class="widget-text">Au choix</p>
          </div>
          <div class="widget-wrapper">
              <div class="widget2" (click)="selectFinition('autre', espace)" [class.selected]="selectedFinition[espace] === 'autre'">
                  <img src="assets/images/jesaispas.jpg" alt="Image">
              </div>
              <p class="widget-text">Autre</p>
          </div>
      </div>
</div>
  <br>

    <div class="buttons">
      <button class="button" (click)="onFinitionToForme()">Précédent</button>
    <button class="button" (click)="getResults()">Suivant</button>
    </div>
  </div>
  <div *ngIf="showResponse" class="container">
    <div class="header">
      <div class="back-arrow">←</div>
      <p class="left"> Résultat de </p>
      <div class="categories">
        <div class="category-item"
             *ngFor="let espace of filteredEspaces"
             [class.selected]="espace === selectedEspace"
             (click)="selectCurrentEspace(espace)">
          <img [src]="espace.image" [alt]="espace.alt">
          <p>{{ espace.label }}</p>
        </div>
      </div>
    </div>



    <div class="results">
        <h2>On a trouvé ça pour Vous !</h2>
        <p>{{this.selectedProducts.length}} Résultats</p>
        <div class="products">

              <!-- Repeat for each product in this.selectedProducts -->
              <div class="product-card" *ngFor="let product of this.selectedProducts" [class.selected]="this.projectProducts[this.selectedEspace.label] === product || firstShow">
                <img [src]="'assets/images/' + product.Photo_luminaire || 'assets/images/l1.png'" alt="Product">
                <p class="product-name">{{ product.Marque }}</p>
                <p > {{product.Modele}}</p>
                <div class="product-actions">
                  <button class="favorite">❤️</button>
                  <button (click)="showDetailsP(product)" class="details">➡️</button>
                </div>
              </div>

            <!-- Repeat for more products as needed -->
        </div>
        <button (click)="nextSpace()" class="next-space">Espace suivant</button>
    </div>
    </div>

    <div *ngIf="showDetails" class="product-detail-container">
  <div class="product-detail">
    <div class="product-image">

      <img class="image-top" [src]="selectedProduct?.Photo_projet ? 'assets/images/' + selectedProduct.Photo_projet : 'assets/images/chambre.jpg'" alt="Product Image" onerror="this.src='assets/images/chambre.jpg'" />
      <button class="back-button" (click)="goBack()">←</button>
      <button class="wishlist-button" [class.added]="selectedProduct.inWishlist">
        {{ selectedProduct.inWishlist ? '❤️' : '♡' }}
      </button>
    </div>
    <br>
    <div class="product-info">
      <img class="image-desc" [src]="'assets/images/' + selectedProduct.Photo_luminaire" alt="Product Image" />
      <h2>{{selectedProduct.Marque}}</h2>
      <p>{{selectedProduct.Modele}}</p>
      <div class="product-description">
        <p><strong>Description</strong></p>
        <p>{{selectedProduct.Description}}</p>
        <p><b>Type: </b>{{selectedProduct.Type}}</p>
        <p><b>Puissance: </b>{{selectedProduct.Puissance}}</p>
        <p><b>Forme: </b>{{selectedProduct.Forme}}</p>
        <p><b>Température de couleur : </b>{{selectedProduct.Temperature_de_couleur}}</p>
        <p><b>Faisceau : </b>{{selectedProduct.Faisceau}}</p>
          <div class="product-color">
            <p><strong>Couleur</strong></p>
            <div class="color-options">
              <div class="color-option" style="background-color: #000;"></div>
              <div class="color-option" style="background-color: #ccc;"></div>
              <div class="color-option" style="background-color: #fff;"></div>
            </div>
          </div>

          <button class="add-to-project-button" (click)="send(selectedProduct)"> 🛒 Ajouter au projet</button>
        </div>
      </div>
    </div>
    </div>
    <div *ngIf="showProjectProducts" class="container">
      <header>
          <button class="back-button1">&#8592;</button>
          <h1>Mon panier</h1>
          <button class="close-button">&times;</button>
      </header>
      <main>
            <div class="products1">
            <div class="product" *ngFor="let product of this.projectProducts">
              <img [src]="product.image|| 'https://tekled.co.uk/cdn/shop/articles/What_is_a_Conventional_Light-775007.jpg?v=1680528977'" [alt]="product.Marque">
              <div class="product-info">
              <h2>{{ product.Marque }}</h2>
              <p>{{ product.label }}</p>
              <p>Couleur - Noir</p>
              <a href="#">{{ product.Espace }}</a>
              </div>
            </div>
            </div>
          <form class="options">
              <label>
                  <input type="checkbox" checked>
                  Télécharger le concept éclairage
              </label>
              <label>
                  <input type="checkbox">
                  obtenir une estimation financière
              </label>
              <label>
                  <input type="checkbox">
                  Essayer les produits en demo
              </label>
          </form>
          <button (click)="showManu()" class="submit-button">Envoyer</button>
      </main>
  </div><div *ngIf="showManufacture" class="contact-container">
    <button class="back-button" (click)="goBackToD()">←</button>
    <div class="contact-content">
      <h1>C'est tout bon pour nous !</h1>
      <p>Je m'appelle Alban, je suis votre interlocuteur fabricant, et je reviendrai vers vous le plus tôt possible</p>
      <div class="contact-info">
        <img src="assets/images/man.png" alt="Alban Grison">
        <div class="contact-details">
          <p><strong>Alban Grison</strong></p>
          <p>CEO K-Design House</p>
          <p>a.grisonk-designhouse.com</p>
          <p>+33 6 43 17 29 79</p>
        </div>
      </div>
      <button class="return-button" (click)="returnToMenu()">Revenir au menu</button>
    </div>
  </div>


