@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.parent-widget {
  font-family: 'Montserrat', sans-serif; /* Utilise la variante gras de Montserrat */
  padding: 20px;
  border-radius: 50px;
  background-color: white; /* Arrière-plan blanc */
  border: 2px solid #ddd; /* Bordures grises */
  text-align: center; /* Centrage horizontal */
}

.widgets-container {

  display: flex;
  justify-content: center; /* Centrage horizontal */
  align-items: center; /* Centrage vertical */
  flex-wrap: wrap; /* Permet aux éléments de se placer sur plusieurs lignes si nécessaire */
}

.widget {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Effet d'ombre */
  width: 30%; /* Ajustez selon vos besoins */
  height: fit-content; /* Adjusts the height to fit the content */
  min-height: 250px; /* Sets a minimum height of 200 pixels */
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 20px; /* Espacement entre les widgets */
  background-color: white; /* Arrière-plan blanc */
  border-radius: 40px; /* Bords plus ronds */
  border: 2px solid #ddd; /* Bordures grises */
}

/* Autres styles restent inchangés */


.widget img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50px;
  height: auto;
  transition: transform 0.3s ease;
}

.widget p {
  position: absolute;
  bottom: 10px;
  left: 20px; /* Add margin from left */
  right: 20px; /* Add margin from right */
  color: black;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.widget:hover img {
  transform: scale(1.1);
}
.margin-top{
  margin-top: 100px;
}
.widget1.selected {
  border: 2px solid #FFF9BF; /* Couleur de la bordure pour indiquer la sélection */
}
.widget3.selected {
  border: 2px solid #FFF9BF; /* Couleur de la bordure pour indiquer la sélection */
}
.widget2.selected {
  border: 2px solid purple;
}
.left{
  margin-left:100px ;
  text-align: left;
}

.widget:hover  {
  background-color: #FFF9BF;
}

.button:hover {
  background-color: white;
  color: black;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.button:not(:hover) {
  background-color: black;
  color: white;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.principal{
  margin-bottom: 40px;
}
.title{
  margin-bottom: 30px;
  font-weight: bold;
}
.image-right {
  margin-top:0px;
  float: right;
  margin-left: 10px;
}
.input{
  margin-bottom: 20px;
  width: 400px;
  height: 40px;
  border-radius: 40px; /* Bords plus ronds */
  border: 2px solid #ddd; /* Bordures grises */
  padding-left: 20px;
  margin-left: 0px;
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.1);
}
.image-center{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
width:200px;
height: 300px;
}
.input1{

  margin: 0 auto;
  width: 400px;
  height: 40px;
  border-radius: 40px; /* Bords plus ronds */
  border: 2px solid #ddd; /* Bordures grises */
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.1);
}
.input-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.button{
  margin-top: 50px;
  margin-bottom: 20px;
  margin-right :20px;
  background-color: black;
  border-color: black;
  border-radius: 40px; /* Bords plus ronds */
  color: white;
  font-weight: bold;
  height:50px;
  width:200px;
}

.widget-container1 {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.arrow {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.left {
  left: 150px;
}

.right {
  right: 250px;
}

.widget1 {
  width: 150px; /* Ajustez la largeur selon vos besoins */
  height:180px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.widget1:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.widget1 img {
  width: 50px; /* Ajustez la taille de l'image selon vos besoins */
  height: auto;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 50%;
  transform: translateY(-50%);
}
.widget2 {
  width: 150px; /* Ajustez la largeur selon vos besoins */
  height:180px;
  padding: 10px;
  margin:10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.widget2:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.widget2 img{
width:100%;
height:100%;
object-fit: cover;
}

.widget3:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.widget-text {
  text-align: center;
  margin-top: 5px;
  font-size: 14px; /* Ajustez la taille de la police selon vos besoins */
}

.widget3{
  width: 300px; /* Ajustez la largeur selon vos besoins */
  height:180px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}
.widget3 img{
  width:100%;
  height:100%;
    object-fit: cover;

  }
.noir {
  background-color: black;
}
.gris{
  background-color: #949494;
}
  .widget4 {
    width: 120px; /* Adjust the width as needed */
    height: 120px; /* Adjust the height as needed */
    border-radius: 50%; /* Make it circular */
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }

  .widget4:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .widget4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; /* Make it circular */
  }
  .widget4.selected{
    border: 2px solid black /* Couleur de la bordure pour indiquer la sélection */
  }
  .finition {
    flex-wrap: wrap; /* Permet aux éléments de se placer sur plusieurs lignes si nécessaire */

    display: flex;
    justify-content: center;
  }

  .widget-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .back-arrow {
    justify-content: left;
    width: 30px;
    cursor: pointer;
    padding-left: 10px;
}

.categories {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.category-item {
    text-align: center;
}

.category-item img {
  margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 10%;
    margin-bottom: 5px;
}
.left{
justify-content: left;}

.category-item p {
    margin: 0;
    font-size: 14px;
}

.category-item.selected {
    border-bottom: 2px solid #000;
}
.category-item:not(.selected) {
  filter: grayscale(100%);
  opacity: 0.5;
}
.back-button {
  position: absolute;
  top: 250px;
  left: 150px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.wishlist-button {
  position: absolute;
  top: 250px;
  right: 150px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: lightgray;
  transition: color 0.3s;
}

.results {
    text-align: center;
}

.results h2 {
    margin: 10px 0;
    font-size: 24px;
}

.results p {
    margin: 10px 0;
    font-size: 16px;
    color: #666;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    width: 200px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-card:not(.selected) {
  filter: grayscale(100%);
  opacity: 0.5;

}

.product-name {
    font-size: 14px;
    margin: 10px 0;
}

.product-actions {
    display: flex;
    justify-content: space-around;
}

.product-actions button {
    background: none;
    border: none;
    cursor: pointer;
}

.product-actions .favorite {
    color: red;
}

.product-actions .details {
    color: blue;
}

.load-more, .next-space {
    display: block;
    width: 150px;
    margin: 20px auto;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.load-more:hover, .next-space:hover {
    background-color: #333;
}
.product-info {
  padding: 20px;
}

.product-info h2 {
  margin: 0;
  font-size: 1.5em;
}

.product-description p {
  margin: 5px 0;
}

.product-color {
  margin: 20px 0;
}

.color-options {
  justify-content: center;
  display: flex;
  gap: 10px;
}

.color-option {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.add-to-project-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.add-to-project-button:hover {
  background-color: #444;
}
.image-top{
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.image-desc{
  width : 70px;
  height : 70px;
  margin : 10px;
}
.product-options {
  margin-top: 20px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox {
  margin-right: 10px;
}

.checkbox-label {
  font-size: 16px;
  color: #333;
  cursor: pointer;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.back-button1, .close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

h1 {
  margin: 0;
  font-size: 24px;
}

.products1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 20px 0;
}

.product {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.product img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.product-info h2 {
  margin: 0 0 10px;
  font-size: 18px;
}

.product-info p {
  margin: 5px 0;
  color: #666;
}

.product-info a {
  color: #6200ee;
  text-decoration: none;
}

.options {
  margin: 20px 0;
}

.options label {
  display: block;
  margin-bottom: 10px;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100vh;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.return-button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.return-button:hover {
  background-color: #444;
}

.contact-content {
  text-align: center;
  max-width: 600px;
}

.contact-content h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.contact-content p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.contact-info img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.contact-details p {
  margin: 5px 0;
}
